# Documentation:
# http://graphite.readthedocs.io/en/latest/config-carbon.html#storage-aggregation-conf

[default]
pattern = .*
xFilesFactor = {{ aggregation_xfilesfactor }}
aggregationMethod = {{ aggregation_method }}
